body {
    margin: 0;
    font-family: sans-serif;
}

.login-page {
    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 100vh;

    background: #1b82b3;

    &__title {
        position: relative;
        font-size: 20px;
        text-align: center;
        font-weight: 600;
        margin-bottom: 15px;
        &:before {
            content: "";
            position: absolute;
            width: 4px;
            height: 100%;
            background: #1a82b4;
            left: -30px;
        }
    }
    &__container {
        background-color: #f0f6fb;
    
        border-radius: 7px;
        box-shadow: 2px 2px 10px rgb(90 90 90);
        padding: 40px 30px;
        min-width: 250px;
    }
    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.fieldset {
    margin-bottom: 5px;
    &:last-child {
        margin-bottom: 0;
    }
    input {
        padding: 5px 7px;
        border: 0;
    
        font-size: 12px;
        background: none;
        border-bottom: 1px solid #1b82b3;
    }
    button {
        background-color: #1e8cc0;
        border: 0;
        border-radius: 7px;
        padding: 10px 15px;
        color: white;
        margin-top: 10px;
    
        box-shadow: 0px 1px 5px rgb(90 90 90);
    
        transition: background-color .35s ease;
        
        &:hover {
            background-color: #2496ca;
            cursor: pointer;
        }
    
        &:disabled {
            background-color: #a05476;
            &:hover {
                cursor: not-allowed;
            }
        }
    }
    &__label {
        padding-left: 2px;
        font-size: 14px;
        margin-bottom: 2px;
    }
}


.profile-page {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #b31b60;

&__container {
    background-color: #f0f6fb;
    border-radius: 7px;
    box-shadow: 2px 2px 10px rgb(90 90 90);
    padding: 40px 30px;
    min-width: 250px;
}

&__field {
    display: flex;
    margin-bottom: 5px;
}

&__subtitle {
    font-weight: bold;
}

&__value {
    padding-left: 10px;
}

input[type="file"] {
    margin-top: 10px;
    width: 100%;
    margin-bottom: 10px;
}

button {
    background-color: #b31b60;
    border: 0;
    border-radius: 7px;
    padding: 10px 15px;
    color: white;
    margin-top: 10px;

    box-shadow: 0px 1px 5px rgb(90 90 90);
    
    transition: background-color .35s ease;

    &:hover {
        background-color: #be3774;
        cursor: pointer;
    }


    &:disabled {
        background-color: #a05476;
        &:hover {
            cursor: not-allowed;
        }
    }
}
}